name: Build and deploy Python app to Azure Web App - sensesafe

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Show files (debug)
        run: ls -R

      # Upload ONLY backend contents (flatten)
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: backend/**
  
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: .

      - name: Show downloaded structure
        run: ls -R

      - name: Make startup executable (ignore if missing)
        run: chmod +x startup.sh || true

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5ED8F07376604BA0B1B7B44C4B8B31C8 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9EB05D77EE374091A8BE8AC924F096D1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_51A171B40C7540B98FC1CC6CCE5B9100 }}

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: sensesafe
          slot-name: Production
          package: .
